<!DOCTYPE html>
<html>
  <head>
    <title>ReminderHub | Save your Document</title>
    <%= stylesheet_link_tag "application.css", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tag %>
    <%= turbo_include_tags %>
  </head>
  <body>
    <header>
      <div class="header_inner">
        <%= link_to "DocumentLocker", root_path, id: 'logo' %>
        
        <nav>
          <% if user_signed_in? %>
            <%= link_to "Create Doc", new_doc_path %>
            <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete } %>
          <% else %>
            <%= link_to "Sign In", new_user_session_path %>
          <% end %>
        </nav>
      </div>
    </header>
    
    <p class="notice"><%= notice %></p>
    <div class="alert"><%= alert %></div>
    
    <%= yield %>
  </body>
</html>
